.CustomButton {
  cursor: pointer;
}
.ShopNow_button {
  padding: 0.9rem 2.8rem;
  border-radius: 5px;
  border: none;
  background-color: var(--darkRed);
  color: var(--mainColor);
  cursor: pointer;
  font-size: 0.8rem;
}
.Open_Doc {
  background-color: transparent;
  border: 2px solid var(--HeadingColor);
  padding: 0.6rem 1.3rem;
  border-radius: 4px;
  color: var(--HeadingColor);
}
.Setup_Details {
  padding: 0.6rem 1.2rem;
  margin-left: 1rem;
  border: none;
  background-color: transparent;
  color: var(--LightGray);
  border: 1px solid var(--lightCl);
  border-radius: 4px;
}
.add_product {
  border: none;
  padding: 0.7rem 2.5rem;
  background-color: var(--HeadingColor);
  color: var(--mainColor);
  border-radius: 5px;
}
.update_products {
  background-color: var(--LightGray);
  padding: 0.7rem 3rem;
}
