@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Island+Moments&family=Libre+Baskerville:ital@1&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Colors */
:root {
  --lightYellow: #fdd62d;
  --darkRed: #d30832;
  --Dark: #000000;
  --LightGray: #878787;
  --IconsColor: rgb(51, 51, 51);
  --mainColor: #fff;
  --LightGrayCl: rgb(206, 206, 206);
  --lightCl: rgb(221, 221, 221);
  --HeadingColor: rgb(24, 80, 153);
  --SmoothGrayLight: rgb(61, 61, 61);
}
/* Colors */

/* Global Classes */
a {
  text-decoration: none;
}

.side_padding {
  padding: 0 150px;
}

.padding_one {
  padding: 30px 0;
}

.banner_padding {
  padding: 300px 0;
}
/* Global Classes */
